.te {
    border: 1px solid black;
    /* font: medium -moz-fixed; */
    /* //font: -webkit-small-control; */
    height: 200px;
    overflow: auto;
    padding: 2px;
    resize: none;
    width: 495.5px;
}

#wasm_memory {
    background-color: white;
    border: 1px solid black;
    width: 500px;
    height: 500px;
    white-space: pre-wrap;
    overflow-y: scroll;
    font-family: monospace;
}

#fontspec {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 40px;
    font-weight: bold;
}

.outer {
    width: 100px;
    height: 100px;
    position: relative;
}

.item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

body {
    max-width: 530px;
    margin: auto;
    background-color: antiquewhite;
    font-family: monospace;
}

#highlight {
    background-color: white;

}

.register {
    background-color: white;
    text-align: center;
    float: left;
    width: 123.5px;
    border: 0.1px solid #000000;
    border-top: none;
    font-family: monospace;
}

.rname {
    background-color: white;
    text-align: center;
    float: left;
    width: 123.5px;
    border: 0.1px solid #000000;
    border-bottom: none;
    padding-bottom: 0%;
    font-family: monospace;
}

.rsplit {
    background-color: white;
    text-align: center;
    float: left;
    width: 29.4px;
    border: 0.1px solid #000000;
    border-top: none;
    font-family: monospace;
    text-size-adjust: auto;
}

.rsname {
    background-color: white;
    text-align: center;
    float: left;
    width: 29.4px;
    border: 0.1px solid #000000;
    border-bottom: none;
    font-family: monospace;
}